.header {
    background-image: url('/bg-header-mobile.svg');
    min-height: 28vh;
}

@media only screen and (min-width: 600px) {
    .header {
        background-image: url('/bg-header-desktop.svg');
        min-height: 15.5vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 900px) {
    .header {
        min-height: 23.15vh;
    }
}